<app-nav-bar></app-nav-bar>

<br />
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h4>  Cadastro de Produtos</h4></div>
      <form [formGroup]="produtoForm" (ngSubmit)="salvar()">
        <div class="formGroup">
          <label for="nome">Nome</label>
          <input type="text"class="form-control" id="nome" formControlName="nome">
        </div>
        <br />
        <div class="formGroup">
          <label for="preco">Preço</label>
          <input name="preco" type="number"class="form-control" id="preco" formControlName="preco">
        </div>
        <br />
        <div class="formGroup">
          <label for="descricao">Descrição</label>
          <textarea name="descricao" id="descricao" formControlName="descricao" rows="3"  class="form-control"></textarea>
        </div>
        <br />
        <button class="btn btn-primary" [disabled]="produtoForm.invalid">Salvar</button>
      </form>
    </div>
  </div>
</div>

<br />

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h4>Lista de produtos</h4></div>
      <table class="table">
        <thead>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Ação</th>
        </thead>
        <tr *ngFor="let produto of produtos">
          <td>{{produto.nome}}</td>
          <td>{{produto.descricao}}</td>
          <td>{{produto.preco}}</td>
          <td style="width: 100px">
            <div>
              <button (click)="remover(produto)" class="btn btn-danger btn-sm" type="button">Excluir</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<br />
